@model IEnumerable<delopgave.Models.Haandvaerker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HvAnsaettelsedatao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HvEfternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HvFagomraade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HvFornavn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HvAnsaettelsedatao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HvEfternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HvFagomraade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HvFornavn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HaandvaerkerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HaandvaerkerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HaandvaerkerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
