@model IEnumerable<frontend.Models.Vaerktoejskasse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VtkAnskaffet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtkEjesAf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtkFabrikat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtkFarve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtkModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtkSerienummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VtkAnskaffet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtkEjesAf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtkFabrikat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtkFarve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtkModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtkSerienummer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VtkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VtkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VtkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
