@model delopgave.Models.Vaerktoejskasse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vaerktoejskasse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VtkAnskaffet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtkAnskaffet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtkEjesAf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtkEjesAf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtkFabrikat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtkFabrikat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtkFarve)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtkFarve)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtkModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtkModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtkSerienummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtkSerienummer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VtkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
